.wrapper {
  border-bottom: thin solid var(--color-border);
}

.header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  user-select: none;
  cursor: pointer;
}

.menu {
  margin: 0 auto;
}
